@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    font-size: 12px;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: contain;
  }
  button, a {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
  html {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
}

.background-gif {
    /* background: url('https://i.pinimg.com/originals/89/f7/bf/89f7bf394959b085c6627aab07b0196d.gif'); */
    /* background: url('https://i.pinimg.com/originals/e5/97/17/e59717909650f7a71c02087c259c6a00.gif'); */
  
    /* background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/5bb187101501793.5f204e1c23367.gif');
    background-position: bottom; */
  
    /* background: url('https://i.pinimg.com/originals/a8/8f/66/a88f6681cfa77f40550b73c43523b662.gif');
    background-position: center; */

    /* background: url('https://i.redd.it/uwwte8wps4h91.gif');
    background-position: top; */

    background: url('https://i.pinimg.com/originals/93/9e/92/939e9273e3d6ef4f281cda31e9e62488.gif');
    background-position-y: 30%;

    /* background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/bf72b242408971.57cc882192e29.gif');
    background-position: center; */

    background-size: cover;

}

html,
body {
  margin: 0;
  padding: 0;
  background: red;
}
